<!DOCTYPE html>
<html ng-app="app">
<head>
	<meta charset="utf-8"> 
	<title>StudentManagement</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
	<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="https://cdn.staticfile.org/angular.js/1.4.6/angular.min.js"></script>
</head>
<body>

	<div  ng-controller="MainCtrl" class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<table class="table">
					<caption>学生管理系统</caption>
					<thread>
						<tr>
							<th>学号</th>
							<th>姓名</th>
							<th>年龄</th>
							<th>性别</th>
							<th>操作</th>
						</tr>
					</thread>
					<tbody >
						<tr ng-repeat="item in stuList">
							<td>{{item.id}}</td>
							<td>{{item.name}}</td>
							<td>{{item.age}}</td>
							<td>{{item.sex}}</td>
							<td>
								<a href="javascript:;" style="text-decoration:none" ng-click="del(item.id)">删除</a>
							</td>
						</tr>
					</tbody>
				</table>
				<form role="form" class="col-md-6" style="padding:3px;">
					<div class="form-group">
						<input type="number" ng-model="stuObj.id" class="form-control" placeholder="请输入学号">
					</div>
					<div class="form-group">
						<input type="search" ng-model="stuObj.name" class="form-control" placeholder="请输入姓名">
					</div>
					<div class="form-group">
						<input type="number" ng-model="stuObj.age" class="form-control" placeholder="请输入年龄">
					</div>
					<span class="radio" style="display: inline">
						<label class="radio-inline">
							<input type="radio" name="gender" value="男" ng-model="stuObj.gender">男
						</label>
					</span>
					<span class="radio" style="display: inline">
						<label class="radio-inline">
							<input type="radio" name="gender" value="女" ng-model="stuObj.gender">女
						</label>
					</span>
					<div class="form-group" style="margin-top:15px">
						<button type="submit" ng-click="add()" class="btn btn-default">添加</button>
						<button type="submit" ng-click="update()" class="btn btn-default">Update</button>
					</div>
				</form>
			</div>
		</div>
	</div>

<script>


	var app=angular.module("app",[])
	app.controller("MainCtrl", function($scope, $http){
		$scope.stuObj = {};
		/*$scope.stuList = [
				{"id":1, "name":"学生1","age":23, "gender":"男"},
				{"id":2, "name":"学生2","age":24, "gender":"男"},
				{"id":3, "name":"学生3","age":23, "gender":"男"}
		]*/

        $scope.getAllData = function() {

	        $http({
	            method : "GET",
	            url : "api/student"
	        }).then(function mySuccess(response) {

	            $scope.stuList = response.data;
	            console.log(response.data);

	        }, function myError(response) {

	            console.log(response.statusText);
	        });
    	}

        $scope.getAllData();

		$scope.add = function(){

            console.log($scope.stuObj);
			$http.post("api/student", $scope.stuObj).then(function mySuccess(response) {

	            //console.log(response);

	            $scope.getAllData();
	        }, function myError(response) {

	            //console.log(response.statusText);
	        });

			$scope.stuObj = {};
		}

		$scope.del = function(id){

			var url = "api/student/" + id;
			console.log(url);
			$http.delete(url).then(function mySuccess(response) {

	            console.log(response);

	            $scope.getAllData();
	        	}, function myError(response) {
	            
	            console.log(response.statusText);
	        });		

		}

		$scope.update = function(){

			console.log($scope.stuObj);
			$http.put("api/student", $scope.stuObj).then(function mySuccess(response) {

	            console.log(response);

	            $scope.getAllData();
	        	}, function myError(response) {
	            
	            console.log(response.statusText);
	        });		

		}
	});

</script>
</body>
</html>