.productImg{
	height:150px;
	background-color:#f7f7f7;
}
.jumbotron{
	margin-top: 0px;
}
.box{
	padding-left: 10px;
    padding-top:20px;
    background: #f7f7f7;
    height: 320px;
    width: 500px;
    display: none;
}