.productImg{
	height:150px;
	background-color:#f7f7f7;
}
.jumbotron{
	margin-top: 0px;
    margin-bottom: 30px;
}
.box{
	padding-left: 10px;
    padding-top:20px;
    background: #f7f7f7;
    height: 320px;
    width: 500px;
    display: none;
}
.navbar-shop{
    position: relative;
    min-height: 50px;
    border: 1px solid transparent;
}
@media (min-width: 768px)
.navbar-shop {
    border-radius: 4px;
}
.product_display{
    margin-bottom: 30px;
}

.product_button_display{
	margin-top: 10px;
}
.btn_line{
    padding: 3px 13px;
    height: 26px;
}
.table_shoplist{
    width: 18%;
    text-align: left;
}
th{
    cursor: pointer;
}
/*.arrow-up {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid black;
  margin-top: 10px;
}
.arrow-down {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid black;
  margin-top: 10px;
}*/

.search_box{
    margin:20px 0px;
}
.product_price{
    font-size: 15px;
    font-weight:500;
}
.product_amount{
    float:right;
}
.product_amount_number{
    font-size: 15px;
    font-weight:500;
}
.product_shop{
    font-size: 14px;
    font-weight:400;
    margin-bottom: 10px;
}


















